*
{
    padding: 0px;
    margin: 0px;
}
clr
{
    clear:both;
}
body
{
    font-family: 'Baloo Bhaijaan', cursive;
    
}
p
{
    
    font-family: 'Markazi Text', serif;
    font-size: 20px;
}
.navbar 
{
background-color: transparent;
    width: 100%;
    position: fixed;
    z-index: 9999999;
}
nav img
{
    width: 60px;
    height: 60px;
}
.home 
{
     height: 100%;
   
 
}
.home1
{
    
 /*   background-color: rgba(3,61,81,0.85); */
   height: 100%;
}
.home video
{
    width: 100%;
    
    
   
}
.home h1 
{
    margin-top: 150px;
    color: #e1c561;
  /*  border-bottom: solid 2px #e1c561; */
     
    text-align: center;
    
} 
.home h3
{
    font-family: 'Rubik', sans-serif;
    background-color: transparent;
    color: white;
    padding: 20px;
    text-align: center;
} 
.homecont
{
    position: relative ;
  
}
.home i 
{
    color: white ;
    font-size: 32px;
    position: absolute ; 
    top: 25px ;
    left: 620px; 
    cursor: pointer;
}
/*
.layer 
{
    height: 3px; 
    width: 250px;
    background-color: #e1c561;
    margin: auto;
    margin-top: 15px;
} 



.layer2
{
    background-color: rgba(0, 0, 0,0.8);  
    position: fixed ;
    top: 0px;
    bottom: 0px; 
    left: 0px;
    right: 0px; 
    z-index: 1222; 
    display: none ; 
}

.layer2 iframe
{
   margin: 150px 350px;
    width: 750px;
    height: 500px;
    

} 

.layer3 
{
    position: relative ;
}

.layer3 i 
{
    font-size: 30px;
    position: absolute ; 
    top: 30px ;
    right: 60px; 
    color: gray ;
    cursor: pointer;
}*/

.box1 
{
    background-color: #033d51 ;
}



/* section id */ 


.ident
{
    margin-top: 300px;
}
.bigbox 
{
    
    border: 2px solid #082e47;
    padding: 30px;
    margin: 150px;
    position: relative;
}

.cont 
{
    
 
}
.smallbox
{
 
    background-color:#f8f77c;
    padding: 60px;
    
    
    
}
.minbox a
{
    border-radius: 30px;
    background-color:#082e47;
    color:#f8f77c;
    padding: 10px; 
    width: 50%;
}




.opin 
{
    background-image: url("../photo/slide.png");
   width: 100%;
    height: 100%;
    background-size: cover;
    background-attachment: fixed;
    
} 
.opin h3
{
    color: white ;
    padding-top: 50px;
    font-size: 62px;
   /* font-family: 'Markazi Text', serif; */
}

.layer5 
{
    background-color: rgba(3,61,81,0.85);
   height: 100%;
}
.fram
{
    margin-top: 100px ;
    margin-left: 400px;
    width: 560;
    height: 315;
}

.regest
{
    margin-top: 200px;
   
    
     font-family: 'Markazi Text', serif;
    font-size: 25px;
    
}  
.regest form 
{
   border: solid 2px rgb(3,61,81) ; 
     padding: 100px;
}
.btn
{
    background-color: rgb(3,61,81);
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    font-family: 'Baloo Bhaijaan', cursive;
}

.footer
{
    background-color: rgb(3,61,81);
    color: white;
    padding: 50px;
    margin-top: 200px;
} 
.footer p,i
{
    color:#7eb8ca;
}


.arrow
{
    font-size: 20px;
    padding: 10px;
    color: lightgrey ;
    border: #747272 1px solid ;
    background-color: transparent ;
    position: fixed;
    bottom:  30px;
    right:  30px;
    z-index: 12345; 
    
}



/*responsiv */ 


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) 
{
    
    

    
.fram
{
    margin-top: 100px ;
    margin-left: 80px;
    width: 400;
    height: 315;
} 
    
    
    
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
{
   
    .fram
{
    margin-top: 100px ;
    margin-left:30px ;
    width: 500;
    height: 315;
}  
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
{
    
    .fram
{
    margin-top: 100px ;
    margin-left: 54px;
    width: 660;
    height: 415;
}
     
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px)
{

    .fram
{
    margin-top: 100px ;
    margin-left: 400px;
    width: 760;
    height: 415;
}
    

   
 
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}